main{
    background-color: #f7ecde;
}
main .container h1{
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-size: 50px;
    color: #352e28;
    font-weight: 500;
    line-height: 1.2;
    isolation: isolate;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    position: relative !important;
}
main .container h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
.bookmark-body{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
    gap: 1.5rem !important;
}
.bookmark-body h2{
    font-size: 25px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.fw-semibold {
    font-weight: 700 !important;
}
.btn-submit{
    color: white;
    background-color: #d1512d;
    font-size: 1rem;
    font-weight: 400;
}
.btn-submit:hover{
    color: white;
    background-color: #bb4120;
}